@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(187, 80, 241);
    font-family: 'Inconsolata', monospace;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{ 
    padding: 10px;
    background-color: rgb(221, 148, 243);
}

header nav li {
    display: inline; 
    padding: 10px;
    background-color: rgb(144, 86, 214);
}

header img {
    width: 75px;
}

header input {
    padding: 4px 10px;
    border-radius: 15px;
    width: 100px;}
.videoframe{
    max-height: 50vh;
    overflow:hidden
}
header i{
    margin-left: 10px;
    color: rgb(144, 68, 214);
    font-size: 17PX;
}

header i:hover{
    color: beige;
}

img {
    width: 100%;
}

video{
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
    padding: 4px;
    background-color: #9c25d4;
}